# -------------------------------------------------------------------------------
# Configuration file for http://travis-ci.org/#!/elasticsearch/elasticsearch-ruby
# -------------------------------------------------------------------------------

sudo: false

language: ruby

cache: bundler

branches:
  only:
    - master
    - travis

rvm:
  - 1.9.3
  - 2.1
  - 2.2
  - jruby-1.7.24

env:
  - TEST_SUITE=unit
  - TEST_SUITE=integration ES_VERSION=1.7.5
  - TEST_SUITE=integration ES_VERSION=2.3.0

before_install:
  - gem update --system
  - gem --version

install:
  - test $TEST_SUITE == 'integration' && curl -s https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.7.5.tar.gz | tar xz -C /tmp || true
  - test $TEST_SUITE == 'integration' && curl -s https://download.elasticsearch.org/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.3.0/elasticsearch-2.3.0.tar.gz | tar xz -C /tmp || true

before_script:
  - gem install bundler -v 1.11.2
  - rake setup
  - rake elasticsearch:update
  - rake bundle:clean
  - rake bundle:install

script:
  - SERVER=start TEST_CLUSTER_LOGS=/tmp/log TEST_BUILD_REF=tags/v$ES_VERSION TEST_CLUSTER_COMMAND=/tmp/elasticsearch-$ES_VERSION/bin/elasticsearch rake test:$TEST_SUITE

matrix:
  exclude:
    - rvm: 1.8.7
      jdk: openjdk7
      env: TEST_SUITE=integration ES_VERSION=1.7.5
    - rvm: 1.8.7
      jdk: openjdk7
      env: TEST_SUITE=integration ES_VERSION=2.3.0

notifications:
  disable: true

sudo: false
