# -----------------------------------------------------------------------
# Configuration file for https://travis-ci.org/elastic/elasticsearch-ruby
# -----------------------------------------------------------------------

dist: trusty

sudo: required

language: ruby

branches:
  only:
    - master
    - 6.x
    - 5.x
    - 2.x
    - travis

matrix:
  include:
    - rvm: 2.4.0
      jdk: oraclejdk8
      env: TEST_SUITE=unit

    - rvm: 2.3.3
      jdk: oraclejdk8
      env: TEST_SUITE=unit

    - rvm: 2.2.6
      jdk: oraclejdk8
      env: TEST_SUITE=unit

    - rvm: 2.4.0
      jdk: oraclejdk8
      env: TEST_SUITE=integration SERVER=start TEST_CLUSTER_LOGS=/tmp/log TEST_BUILD_REF=origin/6.4 TEST_CLUSTER_COMMAND=/tmp/elasticsearch-6.4.2/bin/elasticsearch

before_install:
  - gem update --system
  - gem --version
  - gem install bundler -v 1.14.3
  - bundle version
  - curl -sS https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.4.2.tar.gz | tar xz -C /tmp
  - rake setup
  - rake elasticsearch:update

install:
  - bundle install
  - rake bundle:clean
  - rake bundle:install

script:
  - rake test:$TEST_SUITE

notifications:
  disable: true
