# -----------------------------------------------------------------------
# Configuration file for https://travis-ci.org/elastic/elasticsearch-ruby
# -----------------------------------------------------------------------

dist: trusty

sudo: required

language: ruby

branches:
  only:
    - master
    - 6.x
    - 5.x
    - 2.x
    - travis

matrix:
  include:

    # Unit tests
    - rvm: ruby-head
      jdk: oraclejdk8
      env: TEST_SUITE=unit

    - rvm: 2.5.3
      jdk: oraclejdk8
      env: TEST_SUITE=unit

    - rvm: 2.3.8
      jdk: oraclejdk8
      env: TEST_SUITE=unit

    - rvm: jruby-9.2.5.0
      jdk: oraclejdk8
      env: TEST_SUITE=unit

    # Integration tests
    - rvm: 2.5.3
      jdk: oraclejdk8
      env: QUIET=y ELASTICSEARCH_HOSTS=localhost:9250,localhost:9251 TEST_SUITE=integration

  allow_failures:
    - rvm: ruby-head
      jdk: oraclejdk8
      env: TEST_SUITE=unit

before_install:
  - ls $PWD
  - pkill -9 -f elasticsearch || true
  - gem update --system
  - gem --version
  - gem update bundler -q
  - bundle version
  - bundle install
  - bundle exec rake setup
  - bundle exec rake elasticsearch:update
  - curl -sS https://snapshots.elastic.co/downloads/elasticsearch/elasticsearch-7.0.0-SNAPSHOT.tar.gz | tar xz -C /tmp
  - /tmp/elasticsearch-7.0.0-SNAPSHOT/bin/elasticsearch-keystore create
  - >
    [[ -n "$TEST_SUITE" ]] && [[ "$TEST_SUITE" == "integration" ]] &&
    TEST_CLUSTER_COMMAND=/tmp/elasticsearch-7.0.0-SNAPSHOT/bin/elasticsearch
    bundle exec rake -I elasticsearch-extensions/lib test:cluster:start &&
    curl http://localhost:9250/_cluster/health?level=shards || true

install:
  - rake bundle:clean
  - rake bundle:install

script:
  - rake test:$TEST_SUITE

notifications:
  disable: true
