name: 8x
on:
  push:
    branches:
      - 8.x
  pull_request:
    branches:
      - 8.x
jobs:
  test-main:
    env:
      TEST_ES_SERVER: http://localhost:9250
      PORT: 9250
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '3.1', '3.2', '3.3', '3.4', 'jruby-9.3', 'jruby-9.4' ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Increase system limits
      run: |
        sudo swapoff -a
        sudo sysctl -w vm.swappiness=1
        sudo sysctl -w fs.file-max=262144
        sudo sysctl -w vm.max_map_count=262144
    - uses: elastic/elastic-github-actions/elasticsearch@master
      with:
        stack-version: 8.18.0-SNAPSHOT
        security-enabled: false
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Build
      run: |
        sudo apt-get update
        sudo apt-get install libcurl4-openssl-dev
        rake bundle:clean
        rake bundle:install
    - name: elasticsearch
      run: cd elasticsearch && bundle exec rake test:all
    - name: elasticsearch-api
      run: rake es:download_artifacts[8.18.0-SNAPSHOT] && cd elasticsearch-api && bundle exec rake test:spec test:platinum:unit
