name: License headers
on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.4'
    - name: Check license headers
      run: |
        ruby ./.github/check_license_headers.rb
